

        <footer >
            <h5 style="margin-bottom: 0px; text-align: center;">Please feel free to contact me for any feedback or enquiry regarding this
                website at <span style="color: blue;">draco8182@gmail.com</span> Thank You for visiting.
            </h5>

            <h5 style="margin-bottom: 0px; text-align: center;">Author: Draco. Please visit my other Web Project:
                <a href="https://serene-fortress.herokuapp.com/" target="_blank" style="color: rgb(148, 13, 238);">Serene Fortress</a> and
                <a href="https://esp32-dashboard.herokuapp.com/" target="_blank" style="color: rgb(13, 95, 10);">ESP32 Dashboard</a>
            </h5>
        </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
